{% extends 'layout.html' %}
{% block content %}
<body class="home-body">
    <header class="navbar">

        <h1 style="order: 2;" class="title" >Tarek Elkelani</h1>
        <a href="/" style="order:1;" class="nav-link">Home</a>
        <a href="/#about" style="order:3;" class="nav-link">Portfolio</a>


    </header>
    <section id="summary">
      <h1>Summary</h1>
      <p>Hewwo, HII!!!<br>Hover over the headings below, to get to know me  😳 </p>
      <div class="content">
        <h2 class="content-heading">Education</h2>
        <p class="content-p">University of Surrey</p>

      </div>

      <div class="content">
        <h2 class="content-heading">Major/Degree</h2>
        <p class="content-p">BsC Computer Science</p>
      </div>


      <div class="content">
        <h2 class="content-heading">Interests</h2>
        <p class="content-p">Programming, 20th Century History,  Music,  Fitness,  Annoying my cat</p>
      </div>

      <div class="content">
        <h2 class="content-heading">Languages</h2>
        <p class="content-p">Python, Java, HTML&CSS, Ruby on Rails, Spanish, Arabic</p>
      </div>

    </section>

    <section id="resume">
      <h1> CV </h1>
    </section>
</body>


{% endblock %}
